<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>biblioapp</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/jquery.dataTables.min.css">
    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../favicon.ico" />
</head>

<body>
    <div class="container">
        <h2>Alta de Libros</h2>
        <form method="post" action="">
            <div class="row">
                <div class="form-group col-md-4 col-sm-12">
                    <label class="form-label">Codigo</label>
                    <input required type="text" name="codigo" class="form-control" placeholder="Código del libro">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4 col-sm-12">
                    <label class="form-label">Título</label>
                    <input required type="text" name="titulo" class="form-control" placeholder="Título del libro">
                </div>
                <div class="form-group col-md-4 col-sm-12">
                    <label class="form-label">Género</label>
                    <input required type="text" name="genero" class="form-control" placeholder="Género del Libro">
                </div>


                <button style="margin-top:10px" type="submit" class="btn btn-primary">Guardar libro</button>
        </form>
    </div>

    <hr>
    <table class="table" id="tblLibros">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Código</th>
                <th scope="col">Título</th>
                <th scope="col">Género</th>
            </tr>
        </thead>
        <tbody>
            ##libros_rows##
        </tbody>
    </table>
    <script>
        $(document).ready(function () {
            $('#tblLibros').DataTable({
                pageLength : 5,
                lengthMenu: [[5, 10, 20, -1], [5, 10, 20, 'Todos']],
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.13.1/i18n/es-ES.json'
                }
            });
        });
    </script>
</body>

</html>