<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>biblioapp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h2>Alta de Libros</h2>
        <form method="post" action="">
            <div class="row">
                <div class="form-group col-md-4 col-sm-12">
                    <label class="form-label">Codigo</label>
                    <input required type="text" name="codigo" class="form-control" placeholder="Código del libro">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4 col-sm-12">
                    <label class="form-label">Título</label>
                    <input required type="text" name="titulo" class="form-control" placeholder="Título del libro">
                </div>
                <div class="form-group col-md-4 col-sm-12">
                    <label class="form-label">Género</label>
                    <input required type="text" name="genero" class="form-control" placeholder="Género del Libro">
                </div>


                <button style="margin-top:10px" type="submit" class="btn btn-primary">Guardar libro</button>
        </form>
    </div>

    <hr>
    
</body>

</html>